<a href="https://colab.research.google.com/github/anew0m/AStudy_Pandas-basic/blob/main/study/06_Make_New_Columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 06_Make New Columns

## 10) assign 으로 새로운 컬럼 만들기, qcut으로 binning, bucketing 하기

In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame([])
df

Empty DataFrame
Columns: []
Index: []

In [12]:
df.assign?

In [13]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]},
                  index=['Portland', 'Berkeley'])
df

          temp_c
Portland    17.0
Berkeley    25.0

In [14]:
df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)

          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In [15]:
df = pd.DataFrame({'A' : range(1, 11), 'B' : np.random.randn(10)})
df

    A         B
0   1  0.622917
1   2  0.653446
2   3 -0.571671
3   4  1.446977
4   5 -1.061109
5   6 -0.834231
6   7  0.279491
7   8 -0.497570
8   9  1.119782
9  10 -1.619595

In [16]:
# df.assign(Area = lambda df : df.Length*df.Width)

In [17]:
df.assign(ln_A = lambda x : np.log(x.A))

    A         B      ln_A
0   1  0.622917  0.000000
1   2  0.653446  0.693147
2   3 -0.571671  1.098612
3   4  1.446977  1.386294
4   5 -1.061109  1.609438
5   6 -0.834231  1.791759
6   7  0.279491  1.945910
7   8 -0.497570  2.079442
8   9  1.119782  2.197225
9  10 -1.619595  2.302585

In [18]:
df.assign(ln_A = lambda x : np.log(x.A)).head()

   A         B      ln_A
0  1  0.622917  0.000000
1  2  0.653446  0.693147
2  3 -0.571671  1.098612
3  4  1.446977  1.386294
4  5 -1.061109  1.609438

In [20]:
df["ln_A"] = np.log(df.A)

In [21]:
df

    A         B      ln_A
0   1  0.622917  0.000000
1   2  0.653446  0.693147
2   3 -0.571671  1.098612
3   4  1.446977  1.386294
4   5 -1.061109  1.609438
5   6 -0.834231  1.791759
6   7  0.279491  1.945910
7   8 -0.497570  2.079442
8   9  1.119782  2.197225
9  10 -1.619595  2.302585

In [22]:
df.ln_A = np.log(df.A)

In [23]:
df

    A         B      ln_A
0   1  0.622917  0.000000
1   2  0.653446  0.693147
2   3 -0.571671  1.098612
3   4  1.446977  1.386294
4   5 -1.061109  1.609438
5   6 -0.834231  1.791759
6   7  0.279491  1.945910
7   8 -0.497570  2.079442
8   9  1.119782  2.197225
9  10 -1.619595  2.302585

In [24]:
pd.qcut?

In [25]:
pd.qcut(range(5), 4)

[(-0.001, 1.0], (-0.001, 1.0], (1.0, 2.0], (2.0, 3.0], (3.0, 4.0]]
Categories (4, interval[float64]): [(-0.001, 1.0] < (1.0, 2.0] < (2.0, 3.0] < (3.0, 4.0]]

In [26]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

['good', 'good', 'medium', 'bad', 'bad']
Categories (3, object): ['good' < 'medium' < 'bad']

In [27]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [28]:
pd.qcut(df.B, 3, labels=["good", "medium", "bad"])

0    medium
1       bad
2      good
3       bad
4      good
5      good
6    medium
7    medium
8       bad
9      good
Name: B, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [29]:
pd.qcut(df.B, 2, labels=["good", "bad"])

0     bad
1     bad
2    good
3     bad
4    good
5    good
6     bad
7    good
8     bad
9    good
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

In [30]:
df.max(axis = 1)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [31]:
df.max(axis = 0)

A       10.000000
B        1.446977
ln_A     2.302585
dtype: float64

In [32]:
df.min(axis = 1)

0    0.000000
1    0.653446
2   -0.571671
3    1.386294
4   -1.061109
5   -0.834231
6    0.279491
7   -0.497570
8    1.119782
9   -1.619595
dtype: float64

In [33]:
df.min(axis = 0)

A       1.000000
B      -1.619595
ln_A    0.000000
dtype: float64

In [34]:
df.A.clip?

In [36]:
df.A.clip(lower = -1, upper = 1)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: A, dtype: int64

In [37]:
df.A.clip(lower = -1, upper = 3)

0    1
1    2
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: A, dtype: int64

In [38]:
df.A.clip(lower = -1, upper = 5)

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [39]:
df.A.clip(lower = -10, upper = 10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [40]:
df.abs

<bound method NDFrame.abs of     A         B      ln_A
0   1  0.622917  0.000000
1   2  0.653446  0.693147
2   3 -0.571671  1.098612
3   4  1.446977  1.386294
4   5 -1.061109  1.609438
5   6 -0.834231  1.791759
6   7  0.279491  1.945910
7   8 -0.497570  2.079442
8   9  1.119782  2.197225
9  10 -1.619595  2.302585>

In [41]:
df.B.abs()

0    0.622917
1    0.653446
2    0.571671
3    1.446977
4    1.061109
5    0.834231
6    0.279491
7    0.497570
8    1.119782
9    1.619595
Name: B, dtype: float64

In [42]:
df.B

0    0.622917
1    0.653446
2   -0.571671
3    1.446977
4   -1.061109
5   -0.834231
6    0.279491
7   -0.497570
8    1.119782
9   -1.619595
Name: B, dtype: float64