<a href="https://colab.research.google.com/github/anew0m/ABOOK_Pandas-basic/blob/main/01_DataFrame%26Series/1)_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84(DataFrame)%EA%B3%BC_%EC%8B%9C%EB%A6%AC%EC%A6%88(Series)_%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) 판다스 데이터프레임(DataFrame)과 시리즈(Series) 이해하기

## Pandas 10분 완성
* https://dataitgirls2.github.io/10minutes2pandas/

## Pandas cheat sheet
* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

## Pandas 예시

In [4]:
import pandas as pd

df = pd.DataFrame (
    { "a" : [4, 5, 6], 
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
     index = [111, 222, 333]
)

In [5]:
df

     a  b   c
111  4  7  10
222  5  8  11
333  6  9  12

In [6]:
df["a"]

111    4
222    5
333    6
Name: a, dtype: int64

In [7]:
df["b"]

111    7
222    8
333    9
Name: b, dtype: int64

In [8]:
df["c"]

111    10
222    11
333    12
Name: c, dtype: int64

In [9]:
df[["a", "b", "c"]]

     a  b   c
111  4  7  10
222  5  8  11
333  6  9  12

In [10]:
df[["a", "c"]]

     a   c
111  4  10
222  5  11
333  6  12

In [11]:
df.loc[1]

KeyError: ignored

In [12]:
df.loc[111]

a     4
b     7
c    10
Name: 111, dtype: int64

In [13]:
df.loc[111,"a"]

4

In [14]:
df

     a  b   c
111  4  7  10
222  5  8  11
333  6  9  12