<a href="https://colab.research.google.com/github/anew0m/ABOOK_Pandas-basic/blob/main/01_DataFrame%26Series/2)_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_%EC%83%9D%EC%84%B1%ED%95%98%EA%B3%A0_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2) 판다스 데이터프레임 생성하고 데이터 가져오기

In [2]:
import pandas as pd

df = pd.DataFrame (
    { "a" : [4, 5, 6], 
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
     index = [1, 2, 3]
)

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df.loc[3, "a"]

6

df.loc[index, column]
행과 열 순서

In [6]:
df.loc[[1, 2], ["a", "b"]]

   a  b
1  4  7
2  5  8

In [7]:
df.loc[[2, 3], "a"]

2    5
3    6
Name: a, dtype: int64

In [10]:
import pandas as pd

df = pd.DataFrame (
    [
     [4, 5, 6], 
     [7, 8, 9],
     [10, 11, 12]
    ],
     index = [1, 2, 3],
     columns=['a', 'b', 'c']
)

df

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12

* '[4, 5, 6]' <- 시리즈 데이터

In [11]:
df = pd.DataFrame (
    [
     [4, 7, 10], 
     [5, 8, 11],
     [6, 9, 12]
    ],
     index = [1, 2, 3],
     columns=['a', 'b', 'c']
)

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

## 좌측 헤더 복합 예제

In [12]:
import pandas as pd

df = pd.DataFrame (
    { "a" : [4, 5, 6], 
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
     index = pd.MultiIndex.from_tuples (
         [('d', 1), ('d', 2), ('e', 2)], 
         names = ['n', 'v']
     )
)

In [13]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12