<a href="https://colab.research.google.com/github/anew0m/ABOOK_Pandas-basic/blob/main/02_SubsetObservations(Rows)/4)_Logic_in_Python_(and_pandas)_and%2C_or%2C_not%2C_xor%2C_any%2C_all_%EC%97%B0%EC%82%B0_%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4) Logic in Python (and pandas) - and, or, not, xor, any, all 연산 이해하기

In [4]:
import pandas as pd

df = pd.DataFrame (
    { "a" : [4, 5, 6], 
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
     index = pd.MultiIndex.from_tuples (
         [('d', 1), ('d', 2), ('e', 2)], 
         names = ['n', 'v']
     )
)
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [2]:
df["a"] != 7

n  v
d  1    True
   2    True
e  2    True
Name: a, dtype: bool

In [3]:
df["b"] != 7

n  v
d  1    False
   2     True
e  2     True
Name: b, dtype: bool

In [5]:
df[df["b"] != 7]

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12

* 특정값이 있는지 검색

* df.column.isin(values)

In [6]:
df.a.isin?

In [7]:
df.a.isin(5)

TypeError: ignored

* 리스트 형태로 값을 담아줘야함

In [8]:
df.a.isin([5])

n  v
d  1    False
   2     True
e  2    False
Name: a, dtype: bool

In [9]:
df.a.isin([5, 6])

n  v
d  1    False
   2     True
e  2     True
Name: a, dtype: bool

In [10]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [11]:
df['a'].isin([5, 6])

n  v
d  1    False
   2     True
e  2     True
Name: a, dtype: bool

* df.a.isin == df['a'].isin

In [12]:
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False  False  False

In [14]:
import numpy as np
import pandas as pd

df = pd.DataFrame (
    { "a" : [4, 5, 6, 6, np.nan], 
     "b" : [7, 8, np.nan, 9, 9],
     "c" : [10, 11, 12, np.nan, 12]},
     index = pd.MultiIndex.from_tuples (
         [('d', 1), ('d', 2), ('e', 2), ('e', 3), ('e', 4)], 
         names = ['n', 'v']
     )
)

df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

In [15]:
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False   True  False
  3  False  False   True
  4   True  False  False

In [16]:
df['a'].isnull

<bound method Series.isnull of n  v
d  1    4.0
   2    5.0
e  2    6.0
   3    6.0
   4    NaN
Name: a, dtype: float64>

In [17]:
df['a'].isnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
Name: a, dtype: bool

In [18]:
df['a'].isnull().sum()

1

In [19]:
pd.notnull(df)

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True

In [20]:
df.notnull()

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True

* pd.notnull(df) == df.notnull()

In [21]:
df.a.notnull()

n  v
d  1     True
   2     True
e  2     True
   3     True
   4    False
Name: a, dtype: bool

In [22]:
df['a'].notnull()

n  v
d  1     True
   2     True
e  2     True
   3     True
   4    False
Name: a, dtype: bool

* &, |, ~, ^, df.any(), df.all()
* and, or, not, xor, any, all

In [24]:
df.all()

a    True
b    True
c    True
dtype: bool

In [25]:
df.any()

a    True
b    True
c    True
dtype: bool

In [26]:
df.a.notnull()

n  v
d  1     True
   2     True
e  2     True
   3     True
   4    False
Name: a, dtype: bool

In [27]:
~df.a.notnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
Name: a, dtype: bool

In [28]:
df[df.b == 7 ] and df[df.b == 5 ]

ValueError: ignored

In [34]:
df[(df.b == 7)] and df[(df.a == 5)]

ValueError: ignored

In [38]:
df[(df.b == 7) and (df.a == 5)]

ValueError: ignored

In [39]:
df[(df.b == 7) & (df.a == 5)]

Empty DataFrame
Columns: [a, b, c]
Index: []

In [40]:
df[(df.b == 7) | (df.a == 5)]

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0