<a href="https://colab.research.google.com/github/anew0m/ABOOK_Pandas-basic/blob/main/stdudy/05_Handling_Missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 05_Handling Missing Data

## 9) fillna, dropna로 결측치 다루기

In [1]:
df.dropna()

NameError: ignored

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([])

In [4]:
df.dropna?

In [5]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df

NameError: ignored