<a href="https://colab.research.google.com/github/anew0m/ABOOK_Pandas-basic/blob/main/04_SummarizeData/7)_%EA%B8%B0%EB%B3%B8_%ED%86%B5%EA%B3%84_%ED%95%98%EA%B8%B0_value_counts%2C_nunique%2C_sum%2C_count%2C_mean%2C_median.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 04)SummarizeData

## 7) 기본 통계 하기 value_counts, nunique, sum, count, mean, median

In [17]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df.value_counts()

sepal_length  sepal_width  petal_length  petal_width  species
5.8           2.7          5.1           1.9          virginica     2
7.9           3.8          6.4           2.0          virginica     1
5.4           3.0          4.5           1.5          versicolor    1
5.5           2.4          3.7           1.0          versicolor    1
              2.3          4.0           1.3          versicolor    1
                                                                   ..
6.3           2.5          4.9           1.5          versicolor    1
              2.3          4.4           1.3          versicolor    1
6.2           3.4          5.4           2.3          virginica     1
              2.9          4.3           1.3          versicolor    1
4.3           3.0          1.1           0.1          setosa        1
Length: 149, dtype: int64

In [6]:
df['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [7]:
df['petal_width'].value_counts()

0.2    29
1.3    13
1.5    12
1.8    12
1.4     8
2.3     8
1.0     7
0.3     7
0.4     7
2.0     6
2.1     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petal_width, dtype: int64

In [8]:
pd.DataFrame(df['species'].value_counts())

            species
virginica        50
setosa           50
versicolor       50

In [9]:
len(df)

150

In [10]:
df.shape

(150, 5)

* df.shape == (행, 열)

In [11]:
df.shape[0]

150

In [12]:
df.shape[1]

5

In [13]:
df['species'].nunique()

3

* nunique()  == distinct 와 유사
* 고유한 값 개수를 알려줌

In [14]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

* describe() 는 수치형 값의 통계를 보여줌

In [15]:
df.describe?

In [16]:
df.describe(include = 'all')

        sepal_length  sepal_width  petal_length  petal_width    species
count     150.000000   150.000000    150.000000   150.000000        150
unique           NaN          NaN           NaN          NaN          3
top              NaN          NaN           NaN          NaN  virginica
freq             NaN          NaN           NaN          NaN         50
mean        5.843333     3.057333      3.758000     1.199333        NaN
std         0.828066     0.435866      1.765298     0.762238        NaN
min         4.300000     2.000000      1.000000     0.100000        NaN
25%         5.100000     2.800000      1.600000     0.300000        NaN
50%         5.800000     3.000000      4.350000     1.300000        NaN
75%         6.400000     3.300000      5.100000     1.800000        NaN
max         7.900000     4.400000      6.900000     2.500000        NaN

In [18]:
df.describe(include = [np.object])

          species
count         150
unique          3
top     virginica
freq           50

In [19]:
df.describe(include = [np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

* sum()
** Sum values of each object.

* count()
** Count non-NA/null values of each object.

* median()
** Median value of each object.

* quantile([0.25,0.75])
** Quantiles of each object.

* apply(function)
** Apply function to each object.

* min()
** Minimum value in each object.

* max()
** Maximum value in each object.

* mean()
** Mean value of each object.

* var()
** Variance of each object.

* std()
** Standard deviation of each object

In [20]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [22]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [21]:
df['petal_width'].sum()

179.90000000000003

In [23]:
df['petal_width'].count()

150

In [25]:
df['petal_width'].min()

0.1

In [26]:
df['petal_width'].max()

2.5

In [27]:
df['petal_width'].median()

1.3

In [28]:
df['petal_width'].mean()

1.199333333333334

In [29]:
df['petal_width'].quantile([0.25, 0.75])

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [30]:
df['petal_width'].quantile([0.25, 0.50, 0.75])

0.25    0.3
0.50    1.3
0.75    1.8
Name: petal_width, dtype: float64

In [31]:
df['petal_width'].apply()

TypeError: ignored

In [32]:
df.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [33]:
df.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64